body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
    background-color: black
}

.navtext {
    width: 100%;
    color: white;
    font-size: 20px;
}

.button {
    width: 100%;
    color: white;
    font-size: 15px;
    border-width: 0px;
}

.text {
    color: grey
}

.container1 {
    font-size: 50px;
    border-top-width: 500px;
    margin-top: 25px;
    color: black;
}

.heading {
    font-size: 25px;
    border-top-width: 500px;
    margin-top: 25px;
    color: black;
}

.format {
    width: 25%;
    margin-top: 25px;
    margin-left: 1000px;
}

.format1 {
    width: 25%;
    margin-top: 10px;
    margin-left: 1000px;
}